<!DOCTYPE html>
<html>
  <head>
    <title>Hackdds</title>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="description" content="Analyze and optimize your DDS usage.">
    <meta name="author" content="Hacker Club">

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
      <%- flash.each do |name, msg| -%>
        <% if msg.is_a?(String) %>
          <div class="alert-message <%= name %>">
            <a class="close" href="#">×</a>
            <p><%= msg %></p>
          </div>
        <% end %>
      <%- end -%>
      <%= yield %>
    </div>

  </body>
</html>

